.table__row_heading {
  padding-bottom: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  border-bottom: 1px solid #1a1b22;
}

@media (max-width: 400px) {
  .table__row_heading {
    margin-bottom: 18px;
    padding-bottom: 10px;
  }
}
