.button {
  height: 64px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-left: 54px;
  padding-right: 54px;
  border-radius: 32px;
  border: none;
}

.button:focus {
  outline: none;
}
