@import url('./__description/client__description.css');
@import url('./__title/client__title.css');
@import url('./__paragraph/client__paragraph.css');

.client {
  padding: 80px 100px 94px 100px;
}

@media (max-width: 768px) {
  .client {
    padding: 30px 40px;
  }
}

@media (max-width: 680px) {
  .client {
    padding: 16px;
  }
}
