.footer__link {
  text-decoration: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.footer__link:hover {
  opacity: 0.8;
}

@media (max-width: 850px) {
  .footer__link {
    font-family: 'Source Sans Pro', Arial, sans-serif;
  }
}
