@import url('./__container/search__container.css');
@import url('./__title/search__title.css');
@import url('./__description/search__description.css');
@import url('./__header/search__header.css');



.search {
  background-image: url("../../images/cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 576px;
}
