.lead__title {
  font-size: 60px;
  line-height: 64px;
  font-family: "Roboto Slab";
  color: white;
  font-weight: normal;
  margin: 0;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .lead__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    margin-bottom: 16px;
  }
}
