.about-author__avatar {
 width: 464px;
 height: 464px;
 border-radius: 50%;
 margin-right: 54px;
 flex-shrink: 0;
 background-image: url('../../../images/avatar.png');
 background-size: cover;
 background-position: center;
}

@media (max-width: 950px) {
  .about-author__avatar {
    width: 232px;
    height: 232px;
    margin-right: 32px;
  }
}

@media (max-width: 487px) {
  .about-author__avatar {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
