@import url('./__input/search-field__input.css');
@import url('./__button/search-field__button.css');

.search-field {
  display: flex;
  height: 64px;
  border-radius: 32px;
}

@media (max-width: 768px) {
  .search-field {
    height: 56px;
  }
}

@media (max-width: 492px) {
  .search-field {
    flex-direction: column;
    height: auto;
  }
}
