@import url('./_active/swiper__point_active.css');

.swiper__point {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D1D2D6;
  margin-right: 8px;
  cursor: pointer;
}

.swiper__point:last-child {
  margin-right: 0px;
}
