.card__image {
  height: 272px;
  background-image: url(../../../images/no_photo.png);
  background-size: cover;
  background-position: center;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card__image {
    margin-bottom: 17px;
    height: 150px;
  }
}

@media (max-width: 450px) {
  .card__image {
    height: 196px;
  }
}

