.slide__text {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  color: #1a1b22;
}
