.cards__button {
  display: block;
  color: black;
  background-color: white;
  margin: 0 auto;
}

.cards__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.cards__button:active {
  opacity: 0.8;
}
