@import url('./_result/table__column_result.css');
@import url('./_day/table__column_day.css');

.table__column {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
