.card__text {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-bottom: 18px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
}

@media (max-width: 850px) {
  .card__text {
    -webkit-line-clamp: 4;
  }
}
