@import url('./__header/commits__header.css');
@import url('./__section-title/commits__section-title.css');

.commits {
  background-color: #F5F6F7;
  padding: 73px 104px;
}

@media (max-width: 768px) {
  .commits {
    padding: 40px;
  }
}
